@import "../../assets/styles/index";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: all $main-transition;
}

.button svg path{
  fill: currentColor;
}

.append,
.prepend {
  display: flex;
}

.button .prepend + span {
  margin-left: 8px;
}

.button span + .append {
  margin-left: 4px;
}

// Type
.outline {
  @extend .bold;
  border: 2px solid currentColor;
}

.solid {
  @extend .bold;
  background-color: currentColor;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
}

// Colors
.purple {
  color: $color-purple;
  &.solid {
    color: $color-white;
    background-color: $color-purple;
  }
  &.outline:hover {
    color: $color-white;
    background-color: $color-purple;
    border-color: $color-purple;
  }
}

.green {
  color: $color-green;
  &.solid {
    color: $color-white;
    background-color: $color-green;
  }
  &.outline:hover {
    color: $color-white;
    background-color: $color-green;
    border-color: $color-green;
  }
}

.gray {
  color: $color-gray;
  &.solid {
    color: $color-gray-dark;
    background-color: $color-gray;
    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
  &.outline:hover {
    color: $color-gray-dark;
    background-color: $color-gray;
    border-color: $color-gray;
  }
}

// Size
.XS {
  font-size: 9px;
  line-height: 12px;
  padding: 8px;
  border-radius: 8px;
}

.S {
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  border-radius: 8px;
  letter-spacing: 0.4000000059604645px;
  .prepend + span {
    margin-left: 4px;
  }
}

.M {
  font-size: 14px;
  line-height: 16px;
}

.solid.M,
.outline.M {
  padding: 10px 34px;
  border-radius: 16px;
}

.L {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 32px;
  border-radius: 8px;
}

.shadow {
  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}

.bold {
  font-weight: 700;
}

.outline.M.responsive {
  padding: 10px 0 10px 0;
  span {
    white-space: nowrap;
  }
  // width: 100%;
}