@import "../../../assets/styles/index";

// Card settings
$card-padding: 16px 12px 25px 12px;

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 8px;
  & + .mainContent {
    margin-bottom: 4px;
  }
  svg + span {
    margin-left: 4px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 100%;
  padding: $card-padding;
}

.gray {
  .title {
    color: rgba($color-black, 0.8);
  }
  background-color: $color-gray;
}

.list {
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 0 13px;
}

.listItem {

}

.listItemTitle {
  color: $color-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}