@import "../../assets/styles/index";

.latestActivities {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 8px;
  background-color: $color-gray-3;
  width: 258px;
  border-radius: 16px;
}

