@import "../../assets/styles/index";

.breadcrumbs .breadcrumbsList {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  color: rgba($color-gray-dark, 0.6);
}

.breadcrumbs .breadcrumbsItem + .breadcrumbsItem {
  margin-left: 12px;
}

.breadcrumbs .breadcrumbsItemLink a{
  text-decoration: unset;
  color: $color-purple;
}