@import "../../assets/styles/index";

.breadcrumbs .breadcrumbsList {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  color: rgba($color-gray-dark, 0.6);
}

.breadcrumbs .breadcrumbsItem + .breadcrumbsItem {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.breadcrumbs .breadcrumbsItemLink a{
  text-decoration: unset;
  color: $color-purple;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.context {
 
}

.contextIcon svg{
  cursor: pointer;
  fill: rgba($color-gray-dark, 0.6);
}

.contextList{
  padding: 0;
  list-style-type: none;
}

.contextListItem a{
  text-decoration: unset;
  color: $color-purple;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.25px;
}