$color-black: #261926;
$color-white: #ffffff;
$color-gray: #fefcfd;
$color-gray-2: #e3e3e3;
$color-gray-3: #e7e6f9;
$color-gray-dark: #616283;
$color-gray-dark-2: #6e6f82;
$color-gray-dark-3: #a3a4a6;
$color-purple: #6d6adb;
$color-purple-dark: #5946b9;
$color-green: #6baa75;

// Gradients
$gradient-1: linear-gradient(153.06deg, #d3d3d3 -0.31%, #ff6b6b 99.69%);
$gradient-2: linear-gradient(153.06deg, #6d17cb 100%, #2876f9 100%);
$gradient-3: linear-gradient(153.06deg, #f9d976 -0.31%, #f39f86 99.69%);
$gradient-4: linear-gradient(153.06deg, #037ade -0.31%, #03e5b7 99.69%);
$gradient-5: linear-gradient(153.06deg, #e01c34 -0.31%, #acabb0 99.69%);
$gradient-6: linear-gradient(153.06deg, #ffc857 -0.31%, #c11d38 99.69%);
$gradient-7: linear-gradient(153.06deg, #722ae6 -0.31%, #e4b5cb 99.69%);
$gradient-8: linear-gradient(153.06deg, #6e45e1 -0.31%, #89d4cf 99.69%);
