$color-black: #261926;
$color-white: #ffffff;
$color-gray: #FEFCFD;
$color-gray-dark: #616283;
$color-gray-dark-2: #6E6F82;
$color-purple: #6D6ADB;

// Gradients
$gradient-2: linear-gradient(153.06deg, #6D17CB -0.31%, #2876F9 99.69%);
$gradient-3: linear-gradient(153.06deg, #F9D976 -0.31%, #F39F86 99.69%);
$gradient-4: linear-gradient(153.06deg, #037ade -0.31%, #03e5b7 99.69%);
$gradient-5: linear-gradient(153.06deg, #E01C34 -0.31%, #ACABB0 99.69%);
$gradient-6: linear-gradient(153.06deg, #FFC857 -0.31%, #C11D38 99.69%);
$gradient-7: linear-gradient(153.06deg, #722AE6 -0.31%, #E4B5CB 99.69%);
$gradient-8: linear-gradient(153.06deg, #6E45E1 -0.31%, #89D4CF 99.69%);
