@import "../../assets/styles/index";

.widgetsBoard {
  padding-top: 32px;
}

.gridWrapper {
  // margin: 0 -24px 0 -24px;
}

.previewGrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 19px;
}

.totalWidget,
.previewWidget,
.listWidget,
.simpleWidget {
  height: 220px;
  min-width: 100%;
}

.alertsWidget {
  height: 206px;
  max-width: 381px;
}

.totalChartWidget {
  max-width: 100%;
}

.previewAddButton {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.previewGridItem {
  position: relative;
  &:hover .previewAddButton,
  &:hover .previewGridItemOverlay {
    display: block;
  }
}

.previewGridItemOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-gray-3, 0.6);
}

.controls {
  width: 100%;
}

.btnControlsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-row: 1fr 1fr;
  grid-gap: 4px;
}

.contextMenuContent {
  width: 310px;
  height: 281px;
  overflow-y: scroll;
  
}

@include respond-to(sm) {
  .btnControlsWrapper {
    grid-template-columns: repeat(6, 0.5fr);
    grid-row: 1fr;
  }
  .gridWrapper {
    margin: 0 -24px 0 -24px;
  }
  .previewWidget,
  .listWidget,
  .simpleWidget {
    height: 206px;
    min-width: 186px;
    max-width: 206px;
  }

  .alertsWidget {
    height: 206px;
    max-width: 381px;
  }

  .totalWidget {
    height: 206px;
    width: 186px;
  }
}