@import "../../assets/styles/index";

.mainContent {
  padding-top: 40px;
  z-index: -2;
  // margin-left: 5%;
  transition: width 0.5s;
}

.mainContentSidebarOpen {
  // margin-left: 22%;
  // width: 0;
}

.mainContent.mainContentSideMenu {
  // margin-left: 0%;
}